campos_clientes_vittal/models/RequestCFD40v_Emitir_CFDi40v.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RequestCFD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Comprobante">
					<xs:annotation>
						<xs:documentation>Estandar de Comprobante Fiscal Digital por Internet.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InformacionGlobal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo condicional para precisar la informacion relacionada con el comprobante global.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Periodicidad" type="c_Periodicidad" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el periodo al que corresponde la informacion del comprobante global.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Meses" type="c_Meses" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el mes o los meses al que corresponde la informacion del comprobante global.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Ano" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el ano al que corresponde la informacion del comprobante global.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:short">
												<xs:minInclusive value="2021"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="CfdiRelacionados" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo opcional para precisar la informacion de los comprobantes relacionados.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CfdiRelacionado" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo requerido para precisar la informacion de los comprobantes relacionados.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="UUID" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para registrar el folio fiscal (UUID) de un CFDI relacionado con el presente comprobante, por ejemplo: Si el CFDI relacionado es un comprobante de traslado que sirve para registrar el movimiento de la mercancia. Si este comprobante se usa como nota de credito o nota de debito del comprobante relacionado. Si este comprobante es una devolucion sobre el comprobante relacionado. Si este sustituye a una factura cancelada.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="36"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="TipoRelacion" type="c_TipoRelacion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para indicar la clave de la relacion que existe entre este que se esta generando y el o los CFDI previos.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Emisor">
								<xs:annotation>
									<xs:documentation>Nodo requerido para expresar la informacion del contribuyente emisor del comprobante.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
                  <xs:sequence>
                    <xs:element name="AddendaDomicilioExpedidoEn" type="t_Ubicacion" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Nodo opcional para precisar la informacion de ubicacion del domicilio en donde es emitido el comprobante fiscal en caso de que sea distinto del domicilio fiscal del contribuyente emisor. En caso de existir este nodo, se mueve dentro de la adenda de domicilios generica.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
									<xs:attribute name="Rfc" type="t_RFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para registrar la Clave del Registro Federal de Contribuyentes correspondiente al contribuyente emisor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para registrar el nombre, denominacion o razon social del contribuyente inscrito en el RFC, del emisor del comprobante.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,300}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RegimenFiscal" type="c_RegimenFiscal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para incorporar la clave del regimen del contribuyente emisor al que aplicara el efecto fiscal de este comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="FacAtrAdquirente" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para expresar el numero de operacion proporcionado por el SAT cuando se trate de un comprobante a traves de un PCECFDI o un PCGCFDISP.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
												<xs:length value="10"/>
												<xs:pattern value="[0-9]{10}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Receptor">
								<xs:annotation>
									<xs:documentation>Nodo requerido para precisar la informacion del contribuyente receptor del comprobante.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
                  <xs:sequence>
                    <xs:element name="AddendaDomicilioReceptor" type="t_Ubicacion" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Nodo opcional para la definicion de la ubicacion donde se da el domicilio del receptor. En caso de existir este nodo, se mueve dentro de la adenda de domicilios generica.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
									<xs:attribute name="Rfc" type="t_RFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para registrar la Clave del Registro Federal de Contribuyentes correspondiente al contribuyente receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para registrar el nombre(s), primer apellido, segundo apellido, segun corresponda, denominacion o razon social del contribuyente, inscrito en el RFC, del receptor del comprobante.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="300"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,300}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="DomicilioFiscalReceptor" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para registrar el codigo postal del domicilio fiscal del receptor del comprobante.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="5"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[0-9]{5}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ResidenciaFiscal" type="c_Pais" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para registrar la clave del pais de residencia para efectos fiscales del receptor del comprobante, cuando se trate de un extranjero, y que es conforme con la especificacion ISO 3166-1 alpha-3. Es requerido cuando se incluya el complemento de comercio exterior o se registre el atributo NumRegIdTrib.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumRegIdTrib" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para expresar el numero de registro de identidad fiscal del receptor cuando sea residente en el extranjero. Es requerido cuando se incluya el complemento de comercio exterior.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="40"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RegimenFiscalReceptor" type="c_RegimenFiscal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para incorporar la clave del regimen fiscal del contribuyente receptor al que aplicara el efecto fiscal de este comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="UsoCFDI" type="c_UsoCFDI" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar la clave del uso que dara a esta factura el receptor del CFDI.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Conceptos">
								<xs:annotation>
									<xs:documentation>Nodo requerido para listar los conceptos cubiertos por el comprobante.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Concepto" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo requerido para registrar la informacion detallada de un bien o servicio amparado en el comprobante.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Impuestos" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Nodo condicional para capturar los impuestos aplicables al presente concepto.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Traslados" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Nodo opcional para asentar los impuestos trasladados aplicables al presente concepto.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Traslado" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Nodo requerido para asentar la informacion detallada de un traslado de impuestos aplicable al presente concepto.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attribute name="Base" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la base para el calculo del impuesto, la determinacion de la base se realiza de acuerdo con las disposiciones fiscales vigentes. No se permiten valores negativos.</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:fractionDigits value="6"/>
																								<xs:minInclusive value="0.000001"/>
																								<xs:whiteSpace value="collapse"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Impuesto" type="c_Impuesto" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la clave del tipo de impuesto trasladado aplicable al concepto.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="TipoFactor" type="c_TipoFactor" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="TasaOCuota" use="optional">
																						<xs:annotation>
																							<xs:documentation>Atributo condicional para senalar el valor de la tasa o cuota del impuesto que se traslada para el presente concepto. Es requerido cuando el atributo TipoFactor tenga una clave que corresponda a Tasa o Cuota.</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:fractionDigits value="6"/>
																								<xs:minInclusive value="0.000000"/>
																								<xs:whiteSpace value="collapse"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Importe" type="t_Importe" use="optional">
																						<xs:annotation>
																							<xs:documentation>Atributo condicional para senalar el importe del impuesto trasladado que aplica al concepto. No se permiten valores negativos. Es requerido cuando TipoFactor sea Tasa o Cuota.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Retenciones" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Nodo opcional para asentar los impuestos retenidos aplicables al presente concepto.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Retencion" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Nodo requerido para asentar la informacion detallada de una retencion de impuestos aplicable al presente concepto.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attribute name="Base" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la base para el calculo de la retencion, la determinacion de la base se realiza de acuerdo con las disposiciones fiscales vigentes. No se permiten valores negativos.</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:fractionDigits value="6"/>
																								<xs:minInclusive value="0.000001"/>
																								<xs:whiteSpace value="collapse"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Impuesto" type="c_Impuesto" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la clave del tipo de impuesto retenido aplicable al concepto.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="TipoFactor" type="c_TipoFactor" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="TasaOCuota" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar la tasa o cuota del impuesto que se retiene para el presente concepto.</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:whiteSpace value="collapse"/>
																								<xs:minInclusive value="0.000000"/>
																								<xs:fractionDigits value="6"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Importe" type="t_Importe" use="required">
																						<xs:annotation>
																							<xs:documentation>Atributo requerido para senalar el importe del impuesto retenido que aplica al concepto. No se permiten valores negativos.</xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ACuentaTerceros" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Nodo opcional para registrar informacion del contribuyente Tercero, a cuenta del que se realiza la operacion.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="RfcACuentaTerceros" type="t_RFC" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para registrar la Clave del Registro Federal de Contribuyentes del contribuyente Tercero, a cuenta del que se realiza la operacion.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="NombreACuentaTerceros" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para registrar el nombre, denominacion o razon social del contribuyente Tercero correspondiente con el Rfc, a cuenta del que se realiza la operacion.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="300"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[^|]{1,300}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="RegimenFiscalACuentaTerceros" type="c_RegimenFiscal" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para incorporar la clave del regimen del contribuyente Tercero, a cuenta del que se realiza la operacion.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="DomicilioFiscalACuentaTerceros" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para incorporar el codigo postal del domicilio fiscal del Tercero, a cuenta del que se realiza la operacion.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="5"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[0-9]{5}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="InformacionAduanera" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo opcional para introducir la informacion aduanera aplicable cuando se trate de ventas de primera mano de mercancias importadas o se trate de operaciones de comercio exterior con bienes o servicios.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="NumeroPedimento" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para expresar el numero del pedimento que ampara la importacion del bien que se expresa en el siguiente formato: ultimos 2 digitos del ano de validacion seguidos por dos espacios, 2 digitos de la aduana de despacho seguidos por dos espacios, 4 digitos del numero de la patente seguidos por dos espacios, 1 digito que corresponde al ultimo digito del ano en curso, salvo que se trate de un pedimento consolidado iniciado en el ano inmediato anterior o del pedimento original de una rectificacion, seguido de 6 digitos de la numeracion progresiva por aduana.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="21"/>
																		<xs:pattern value="[0-9]{2}  [0-9]{2}  [0-9]{4}  [0-9]{7}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="CuentaPredial" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo opcional para asentar el numero de cuenta predial con el que fue registrado el inmueble, en el sistema catastral de la entidad federativa de que trate, o bien para incorporar los datos de identificacion del certificado de participacion inmobiliaria no amortizable.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Numero" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para precisar el numero de la cuenta predial del inmueble cubierto por el presente concepto, o bien para incorporar los datos de identificacion del certificado de participacion inmobiliaria no amortizable, tratandose de arrendamiento.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="150"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[0-9a-zA-Z]{1,150}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ComplementoConcepto" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Nodo opcional donde se incluyen los nodos complementarios de extension al concepto definidos por el SAT, de acuerdo con las disposiciones particulares para un sector o actividad especifica.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:any maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Parte" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo opcional para expresar las partes o componentes que integran la totalidad del concepto expresado en el comprobante fiscal digital por Internet.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="InformacionAduanera" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Nodo opcional para introducir la informacion aduanera aplicable cuando se trate de ventas de primera mano de mercancias importadas o se trate de operaciones de comercio exterior con bienes o servicios.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="NumeroPedimento" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para expresar el numero del pedimento que ampara la importacion del bien que se expresa en el siguiente formato: ultimos 2 digitos del ano de validacion seguidos por dos espacios, 2 digitos de la aduana de despacho seguidos por dos espacios, 4 digitos del numero de la patente seguidos por dos espacios, 1 digito que corresponde al ultimo digito del ano en curso, salvo que se trate de un pedimento consolidado iniciado en el ano inmediato anterior o del pedimento original de una rectificacion, seguido de 6 digitos de la numeracion progresiva por aduana.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="21"/>
																					<xs:pattern value="[0-9]{2}  [0-9]{2}  [0-9]{4}  [0-9]{7}"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ClaveProdServ" type="c_ClaveProdServ" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para expresar la clave del producto o del servicio amparado por la presente parte. Es requerido y deben utilizar las claves del catalogo de productos y servicios, cuando los conceptos que registren por sus actividades correspondan con dichos conceptos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="NoIdentificacion" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo opcional para expresar el numero de serie, numero de parte del bien o identificador del producto o del servicio amparado por la presente parte. Opcionalmente se puede utilizar claves del estandar GTIN.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="100"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[^|]{1,100}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Cantidad" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para precisar la cantidad de bienes o servicios del tipo particular definido por la presente parte.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:fractionDigits value="6"/>
																		<xs:minInclusive value="0.000001"/>
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Unidad" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo opcional para precisar la unidad de medida propia de la operacion del emisor, aplicable para la cantidad expresada en la parte. La unidad debe corresponder con la descripcion de la parte. </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="20"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[^|]{1,20}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Descripcion" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para precisar la descripcion del bien o servicio cubierto por la presente parte.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																		<xs:whiteSpace value="collapse"/>
																		<xs:pattern value="[^|]{1,1000}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ValorUnitario" type="t_Importe" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo opcional para precisar el valor o precio unitario del bien o servicio cubierto por la presente parte. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Importe" type="t_Importe" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo opcional para precisar el importe total de los bienes o servicios de la presente parte. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario expresado en la parte. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ClaveProdServ" type="c_ClaveProdServ" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para expresar la clave del producto o del servicio amparado por el presente concepto. Es requerido y deben utilizar las claves del catalogo de productos y servicios, cuando los conceptos que registren por sus actividades correspondan con dichos conceptos.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="NoIdentificacion" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar el numero de parte, identificador del producto o del servicio, la clave de producto o servicio, SKU o equivalente, propia de la operacion del emisor, amparado por el presente concepto. Opcionalmente se puede utilizar claves del estandar GTIN.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="collapse"/>
															<xs:minLength value="1"/>
															<xs:maxLength value="100"/>
															<xs:pattern value="[^|]{1,100}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Cantidad" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para precisar la cantidad de bienes o servicios del tipo particular definido por el presente concepto.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="6"/>
															<xs:minInclusive value="0.000001"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ClaveUnidad" type="c_ClaveUnidad" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para precisar la clave de unidad de medida estandarizada aplicable para la cantidad expresada en el concepto. La unidad debe corresponder con la descripcion del concepto.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Unidad" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para precisar la unidad de medida propia de la operacion del emisor, aplicable para la cantidad expresada en el concepto. La unidad debe corresponder con la descripcion del concepto.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[^|]{1,20}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Descripcion" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para precisar la descripcion del bien o servicio cubierto por el presente concepto.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[^|]{1,1000}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ValorUnitario" type="t_Importe" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para precisar el valor o precio unitario del bien o servicio cubierto por el presente concepto.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Importe" type="t_Importe" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para precisar el importe total de los bienes o servicios del presente concepto. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario expresado en el concepto. No se permiten valores negativos. </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Descuento" type="t_Importe" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para representar el importe de los descuentos aplicables al concepto. No se permiten valores negativos.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ObjetoImp" type="c_ObjetoImp" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para expresar si la operacion comercial es objeto o no de impuesto.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Impuestos" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo condicional para expresar el resumen de los impuestos aplicables.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Retenciones" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nodo condicional para capturar los impuestos retenidos aplicables. Es requerido cuando en los conceptos se registre algun impuesto retenido.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Retencion" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo requerido para la informacion detallada de una retencion de impuesto especifico.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Impuesto" type="c_Impuesto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para senalar la clave del tipo de impuesto retenido.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Importe" type="t_Importe" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para senalar el monto del impuesto retenido. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Traslados" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nodo condicional para capturar los impuestos trasladados aplicables. Es requerido cuando en los conceptos se registre un impuesto trasladado.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Traslado" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo requerido para la informacion detallada de un traslado de impuesto especifico.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="Base" type="t_Importe" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para senalar la suma de los atributos Base de los conceptos del impuesto trasladado. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="Impuesto" type="c_Impuesto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para senalar la clave del tipo de impuesto trasladado.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="TipoFactor" type="c_TipoFactor" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para senalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="TasaOCuota" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo condicional para senalar el valor de la tasa o cuota del impuesto que se traslada por los conceptos amparados en el comprobante.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:whiteSpace value="collapse"/>
																		<xs:minInclusive value="0.000000"/>
																		<xs:fractionDigits value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Importe" type="t_Importe" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo condicional para senalar la suma del importe del impuesto trasladado, agrupado por impuesto, TipoFactor y TasaOCuota. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="TotalImpuestosRetenidos" type="t_Importe" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para expresar el total de los impuestos retenidos que se desprenden de los conceptos expresados en el comprobante fiscal digital por Internet. No se permiten valores negativos. Es requerido cuando en los conceptos se registren impuestos retenidos.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="TotalImpuestosTrasladados" type="t_Importe" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para expresar el total de los impuestos trasladados que se desprenden de los conceptos expresados en el comprobante fiscal digital por Internet. No se permiten valores negativos. Es requerido cuando en los conceptos se registren impuestos trasladados.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Complemento" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo opcional donde se incluye el complemento Timbre Fiscal Digital de manera obligatoria y los nodos complementarios determinados por el SAT, de acuerdo con las disposiciones particulares para un sector o actividad especifica.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:any minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Addenda" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo opcional para recibir las extensiones al presente formato que sean de utilidad al contribuyente. Para las reglas de uso del mismo, referirse al formato origen.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:any maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Version" use="required" fixed="4.0">
							<xs:annotation>
								<xs:documentation>Atributo requerido con valor prefijado a 4.0 que indica la version del estandar bajo el que se encuentra expresado el comprobante.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Serie" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional para precisar la serie para control interno del contribuyente. Este atributo acepta una cadena de caracteres.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="25"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[^|]{1,25}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Folio" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional para control interno del contribuyente que expresa el folio del comprobante, acepta una cadena de caracteres.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="40"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[^|]{1,40}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Fecha" type="t_FechaH" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para la expresion de la fecha y hora de expedicion del Comprobante Fiscal Digital por Internet. Se expresa en la forma AAAA-MM-DDThh:mm:ss y debe corresponder con la hora local donde se expide el comprobante.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="FormaPago" type="c_FormaPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar la clave de la forma de pago de los bienes o servicios amparados por el comprobante.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CondicionesDePago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar las condiciones comerciales aplicables para el pago del comprobante fiscal digital por Internet. Este atributo puede ser condicionado mediante atributos o complementos.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:minLength value="1"/>
									<xs:maxLength value="1000"/>
									<xs:pattern value="[^|]{1,1000}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="SubTotal" type="t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para representar la suma de los importes de los conceptos antes de descuentos e impuesto. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Descuento" type="t_Importe" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para representar el importe total de los descuentos aplicables antes de impuestos. No se permiten valores negativos. Se debe registrar cuando existan conceptos con descuento.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Moneda" type="c_Moneda" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para identificar la clave de la moneda utilizada para expresar los montos, cuando se usa moneda nacional se registra MXN. Conforme con la especificacion ISO 4217.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TipoCambio" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para representar el tipo de cambio FIX conforme con la moneda usada. Es requerido cuando la clave de moneda es distinta de MXN y de XXX. El valor debe reflejar el numero de pesos mexicanos que equivalen a una unidad de la divisa senalada en el atributo moneda. Si el valor esta fuera del porcentaje aplicable a la moneda tomado del catalogo c_Moneda, el emisor debe obtener del PAC que vaya a timbrar el CFDI, de manera no automatica, una clave de confirmacion para ratificar que el valor es correcto e integrar dicha clave en el atributo Confirmacion.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="6"/>
									<xs:minInclusive value="0.000001"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Total" type="t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para representar la suma del subtotal, menos los descuentos aplicables, mas las contribuciones recibidas (impuestos trasladados - federales y/o locales, derechos, productos, aprovechamientos, aportaciones de seguridad social, contribuciones de mejoras) menos los impuestos retenidos federales y/o locales. Si el valor es superior al limite que establezca el SAT en la Resolucion Miscelanea Fiscal vigente, el emisor debe obtener del PAC que vaya a timbrar el CFDI, de manera no automatica, una clave de confirmacion para ratificar que el valor es correcto e integrar dicha clave en el atributo Confirmacion. No se permiten valores negativos. </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TipoDeComprobante" type="c_TipoDeComprobante" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la clave del efecto del comprobante fiscal para el contribuyente emisor.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Exportacion" type="c_Exportacion" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar si el comprobante ampara una operacion de exportacion.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MetodoPago" type="c_MetodoPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para precisar la clave del metodo de pago que aplica para este comprobante fiscal digital por Internet, conforme al Articulo 29-A fraccion VII incisos a y b del CFF.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="LugarExpedicion" type="c_CodigoPostal" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para incorporar el codigo postal del lugar de expedicion del comprobante (domicilio de la matriz o de la sucursal).</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Confirmacion" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para registrar la clave de confirmacion que entregue el PAC para expedir el comprobante con importes grandes, con un tipo de cambio fuera del rango establecido o con ambos casos. Es requerido cuando se registra un tipo de cambio o un total fuera del rango establecido.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:length value="5"/>
									<xs:pattern value="[0-9a-zA-Z]{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Transaccion">
					<xs:annotation>
						<xs:documentation>Nodo opcional para identificar la transaccion asociada a la peticion.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" use="required">
							<xs:annotation>
								<xs:documentation>Identificador de la transaccion.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="TipoComprobante">
					<xs:complexType>
						<xs:attribute name="clave" use="required">
							<xs:annotation>
								<xs:documentation>Clave del tipo de comprobante</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="nombre" use="optional">
							<xs:annotation>
								<xs:documentation>Nombre del tipo de comprobante</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sucursal" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="id" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional del identificador de la sucursal que emite el comprobante fiscal.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="nombre" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo requerido del nombre de la sucursal que emite el comprobante fiscal.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Receptor" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="emailReceptor" use="optional">
							<xs:annotation>
								<xs:documentation>Correo electronico del Receptor</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="codigoReceptor" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional del codigo del receptor.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" default="4.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica la version bajo el que se encuentra expresado el documento.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:minLength value="3"/>
						<xs:maxLength value="4"/>
						<xs:pattern value="\d{1}.\d{1,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="t_CURP">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar la Clave unica de Registro de Poblacion (CURP)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="18"/>
			<xs:pattern value="[A-Z][AEIOUX][A-Z]{2}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[MH]([ABCMTZ]S|[BCJMOT]C|[CNPST]L|[GNQ]T|[GQS]R|C[MH]|[MY]N|[DH]G|NE|VZ|DF|SP)[BCDFGHJ-NP-TV-Z]{3}[0-9A-Z][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Importe">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar importes numericos con fraccion hasta seis decimales. No se permiten valores negativos.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0.000000"/>
			<xs:pattern value="[0-9]{1,18}(.[0-9]{1,6})?"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Fecha">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresion de la fecha. Se expresa en la forma AAAA-MM-DD.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((19|20)[0-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_ImporteMXN">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar importes monetarios en moneda nacional MXN con fraccion hasta dos decimales. No se permiten valores negativos.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0.00"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-9]{1,18}(.[0-9]{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_CuentaBancaria">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar la cuenta bancarizada.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-9]{10,18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RFC">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar claves del Registro Federal de Contribuyentes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="12"/>
			<xs:maxLength value="13"/>
			<xs:pattern value="[A-Z&amp;n]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RFC_PM">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresion de un Registro Federal de Contribuyentes de persona moral.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="12"/>
			<xs:pattern value="[A-Z&amp;n]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RFC_PF">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresion de un Registro Federal de Contribuyentes de persona fisica.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="13"/>
			<xs:pattern value="[A-Z&amp;n]{4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_FechaHora">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresion de la fecha y hora. Se expresa en la forma AAAA-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((19|20)[0-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_FechaH">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresion de la fecha y hora. Se expresa en la forma AAAA-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="(20[1-9][0-9])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Descrip100">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar la calle en que esta ubicado el domicilio del emisor del comprobante o del destinatario de la mercancia.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[^|]{1,100}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_NumeroDomicilio">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar el numero interior o el numero exterior en donde se ubica el domicilio del emisor del comprobante o del destinatario de la mercancia.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="55"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[^|]{1,55}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Referencia">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar la referencia geografica adicional que permita una  facil o precisa ubicacion del domicilio del emisor del comprobante o del destinatario de la mercancia, por ejemplo las coordenadas GPS.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[^|]{1,250}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_Descrip120">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar la colonia, localidad o municipio en que esta ubicado el domicilio del emisor del comprobante o del destinatario de la mercancia.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[^|]{1,120}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_TipoCambio">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar el tipo de cambio. No se permiten valores negativos.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:fractionDigits value="6"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-9]{1,18}(.[0-9]{1,6})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_FormaPago">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Moneda">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_TipoDeComprobante">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Exportacion">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-3]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_MetodoPago">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_CodigoPostal">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Periodicidad">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Meses">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_TipoRelacion">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="t_Ubicacion">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar domicilios o direcciones</xs:documentation>
    </xs:annotation>
    <xs:attribute name="calle" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para precisar la avenida, calle, camino o carretera donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="noExterior" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para expresar el numero particular en donde se da la ubicacion sobre una calle dada.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="noInterior" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para expresar informacion adicional para especificar la ubicacion cuando calle y numero exterior (noExterior) no resulten suficientes para determinar la ubicacion de forma precisa.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="colonia" use="optional">
      <xs:annotation>
        <xs:documentation>Este atributo opcional sirve para precisar la colonia en donde se da la ubicacion cuando se desea ser mas especifico en casos de ubicaciones urbanas.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="localidad" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional que sirve para precisar la ciudad o poblacion donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="referencia" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional para expresar una referencia de ubicacion adicional.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="municipio" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional que sirve para precisar el municipio o delegacion (en el caso del Distrito Federal) en donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="estado" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional que sirve para precisar el estado o entidad federativa donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="pais" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo requerido que sirve para precisar el pais donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codigoPostal" use="optional">
      <xs:annotation>
        <xs:documentation>Atributo opcional que sirve para asentar el codigo postal en donde se da la ubicacion.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:whiteSpace value="collapse"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
	<xs:simpleType name="c_RegimenFiscal">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Pais">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_UsoCFDI">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_ClaveProdServ">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_ClaveUnidad">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z,0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_ObjetoImp">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="c_Impuesto">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_TipoFactor">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:enumeration value="Tasa"/>
			<xs:enumeration value="Cuota"/>
			<xs:enumeration value="Exento"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Estado">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Colonia">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Localidad">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="c_Municipio">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
